<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNN-FLASK</title>
  </head>
  <body>
    <h1>Hello Flask from HTML</h1>
    <h2>from flask: {{var}}</h2>
    <p>Funcionou!</p>
    <div>
      <h1>Upload uma imagem:</h1>
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="ficheiro" />
        <input type="submit" value="Upload & Predict" />
      </form>
    </div>
  </body>
</html>
